<div class="borda">
    <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
            <mat-label class="anim">Email</mat-label>
            <input class="input" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Digite um Email Valido!
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email é <strong>Obrigatorio</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label class="anim">Senha</mat-label>
            <input type="password" class="input" matInput [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Senha é <strong>Obrigatorio</strong>
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Logar</button>
    </form>

    <a>Cadastrar-se</a>
</div>