html, body {
    margin: 0px;
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #303030;
    transition: 0.5s;
}

.light {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s !important;
    background: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
}

.navDark{
    display: flex;
    justify-content: flex-end;
    color: white;
    background: #303030;
    transition: 0.5s;
}

.navLight{
    display: flex;
    justify-content: flex-end;
    color: black;
    transition: 0.5s !important;
    background: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
}

nav:before{
    background: white;
}