.container{
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borda {
    background: rgba(0, 0, 0, .5);
    height: 150px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(30, 212, 30);
    margin: 0;
}