
.container{
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.dash {
    background-color: rgb(255, 255, 255, 0.9);
    height: 50%;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 36px;
    display: flex;
}

.chartSatisfacao {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    border-left: solid  rgba(0,0,0,0.11);
    justify-self: end;
    flex-direction: column;
}

.chartEntregas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    border-bottom: solid  rgba(0,0,0,0.11);
    justify-self: end;
    flex-direction: column;
}

.chartPrazo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    justify-self: end;
    flex-direction: column;
}

.lucro {
    position: absolute;
    top: 36px;
    left: 0px;
    height: 50%;
    width: 30%;
    background-color: rgba(12, 46, 240, 0.781);
    border-bottom: solid  rgba(0,0,0,0.11);
    justify-self: end;
    flex-direction: column;
}

.tempoMedio {
    position: absolute;
    top: 53.9%;
    left: 0px;
    height: 46.1%;
    width: 30%;
    background-color: rgba(12, 46, 240, 0.781);
    justify-self: end;
    flex-direction: column;
}

.kmMedio {
    position: absolute;
    top: 53.9%;
    left: 30%;
    height: 24%;
    width: 41.9%;
    background-color: rgba(12, 46, 240, 0.671);
    border-bottom: solid  rgba(0,0,0,0.11);
    border-right: solid  rgba(0,0,0,0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custoMedio {
    position: absolute;
    top: 77.9%;
    left: 30%;
    height: 22.1%;
    width: 41.9%;
    background-color: rgba(12, 46, 240, 0.671);
    border-right: solid  rgba(0,0,0,0.11);
    border-right: solid  rgba(0,0,0,0.11);
    justify-self: end;
    flex-direction: column;
}

.frota {
    position: absolute;
    bottom: 0px;
    right: 0%;
    height: 46.1%;
    width: 28.1%;
    background-color: rgba(12, 46, 240, 0.671);
}

.label {
    display: block;
    height: 65px;
    width: 155px;
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    color: #fff;
}
.label2 {
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 20px;
    height: 50px;
    width: 155px;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 10px;
    color: #fff;
}
.labeloff {
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 20px;
    height: 50px;
    width: 155px;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 10px;
    color: #fff;
}

.textDay{
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    font-weight: normal;
    font-size: 30px;
}

