<div class="container">

    <div class="charts">
        <div class="chartSatisfacao" id="chartSatisfacao"></div>
        <div class="chartEntregas" id="chartEntregas"></div>
        <div class="chartPrazo" id="chartPrazo"></div>
    </div>

    <div class="lucro">
        <div class="back">
            <label class="title">Lucro</label>
            <label class="labelBlock">Lucro c/ Desconto
                <span class="moneyText">R$ 500</span>
            </label>
            <label class="labelBlockOff">Lucro Bruto
                <span class="moneyText">R$ 5000</span>
            </label>
        </div>
    </div>

    <div class="tempoMedio">
        <div class="back">
            <label class="title">Tempo Médios</label>
            <label class="labelBlock">Tempo Entrega
                <p class="blockText">30m</p>
            </label>
            <label class="labelBlockTwo">Tempo Rota
                <p class="blockText">5h</p>
            </label>
            <label class="labelBlockOff">Tempo
                <p class="blockText">200h</p>
            </label>
        </div>
    </div>

    <div class="kmMedio">
        <div class="backTwo">
            <label class="titleColumn">Km Médio</label>
            <label class="labelLine">Km Diario
                <p class="blockText">30</p>
            </label>
            <label class="labelLine">Km Semanal
                <p class="blockText">240</p>
            </label>
            <label class="labelLine">Km Mensal
                <p class="blockText">2500</p>
            </label>
        </div>
    </div>

    <div class="custoMedio">
        <div class="backTwo">
            <label class="titleColumn">Média de Custos</label>
            <label class="labelLine">Custo Diario
                <span class="moneyText">R$ 500</span>
            </label>
            <label class="labelLine">Custo Semanal
                <span class="moneyText">R$ 5000</span>
            </label>
            <label class="labelLine">Custo Mensal
                <span class="moneyText">R$ 50000</span>
            </label>
        </div>
    </div>

    <div class="frota">
        <div class="back">
            <label class="title">Frota</label>
            <label class="labelBlock">Disponivel
                <p class="blockText">90</p>
            </label>
            <label class="labelBlockTwo">Manutenção
                <p class="blockText">5</p>
            </label>
            <label class="labelBlockOff">Indisponivel
                <p class="blockText">1</p>
            </label>
        </div>
    </div>
</div>