/* Divs */

.container {
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.dash {
    background-color: rgba(255, 255, 255, 0.979);
    height: 50%;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 36px;
    display: flex;
}

.chartSatisfacao {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    border-left: solid rgba(0, 0, 0, 0.11);
    justify-self: end;
    flex-direction: column;
}

.chartEntregas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    border-bottom: solid rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartPrazo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    justify-self: end;
    flex-direction: column;
}

.lucro {
    position: absolute;
    top: 36px;
    left: 0px;
    height: 50%;
    width: 30%;
    background-color: rgba(12, 46, 240, 0.781);
    border-bottom: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tempoMedio {
    position: absolute;
    top: 53.9%;
    left: 0px;
    height: 46.1%;
    width: 30%;
    background-color: rgba(12, 46, 240, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kmMedio {
    position: absolute;
    top: 53.9%;
    left: 30%;
    height: 24%;
    width: 41.9%;
    background-color: rgba(12, 46, 240, 0.671);
    border-bottom: solid rgba(0, 0, 0, 0.11);
    border-right: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custoMedio {
    position: absolute;
    top: 77.9%;
    left: 30%;
    height: 22.1%;
    width: 41.9%;
    background-color: rgba(12, 46, 240, 0.671);
    border-right: solid rgba(0, 0, 0, 0.11);
    border-right: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frota {
    position: absolute;
    bottom: 0px;
    right: 0%;
    height: 46.1%;
    width: 28.1%;
    background-color: rgba(12, 46, 240, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Elementos - Label */

.label {
    height: 50px;
    width: 155px;
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    color: #fff;
}

.label:hover{
    background-color: rgba(1, 5, 247, 0.377);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.label2 {
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 20px;
    height: 50px;
    width: 155px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 10px;
    color: #fff;
}

.label2:hover{
    background-color: rgba(1, 5, 247, 0.377);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.labeloff {
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 155px;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 10px;
    color: #fff;
}

.labeloff:hover{
    background-color: rgba(1, 5, 247, 0.377);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.labelLucro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-bottom: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelLucroOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelTempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-bottom: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelTempoOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelFrota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-bottom: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelFrotaOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

/* Elementos - Text */

.textKm {
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    font-weight: normal;
    font-size: 30px;
}

.textCusto {
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    font-weight: normal;
    font-size: 30px;
    color: rgba(61, 245, 24, 0.966);
}

.textLucro {
    display: flex;
    align-items: flex-end;
    padding-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 30px;
    color: rgba(61, 245, 24, 0.966);
}