/* Divs */

.container {
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.back {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.11);
    /* border: 4px solid rgba(0, 0, 0, 0.027); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backTwo {
    background: rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgba(0, 0, 0, 0.027); */
    height: 100%;
    width: 100%;
}

.charts {
    background-color: rgba(255, 255, 255, .1);
    height: 50%;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 36px;
    display: flex;
}

.chartSatisfacao {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    border-left: solid rgba(0, 0, 0, 0.11);
    justify-self: end;
    flex-direction: column;
}

.chartEntregas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    border-bottom: solid rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartPrazo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    width: 60%;
    background-color: transparent;
    justify-self: end;
    flex-direction: column;
}

.lucro {
    position: absolute;
    top: 36px;
    left: 0px;
    height: 50%;
    width: 30%;
    background: #303030;
    /* background-color: rgba(12, 46, 240, 0.781); */
    /* background: linear-gradient(90deg, rgba(33,140,245,1) 0%, rgba(15,73,244,1) 84%, rgba(14,18,241,1) 100%); */
    border-bottom: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tempoMedio {
    position: absolute;
    top: 53.9%;
    left: 0px;
    height: 46.1%;
    width: 30%;
    background: #303030;
    /* background-color: rgba(12, 46, 240, 0.781); */
    /* background: linear-gradient(90deg, rgba(33,140,245,1) 0%, rgba(15,73,244,1) 84%, rgba(14,18,241,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kmMedio {
    position: absolute;
    top: 53.9%;
    left: 30%;
    height: 24%;
    width: 41.9%;
    background: #303030;
    /* background-color: rgba(12, 46, 240, 0.671); */
    /* background: linear-gradient(90deg, rgba(14,18,241,1) 4%, rgba(15,135,244,1) 67%, rgba(33,140,245,1) 100%); */
    border-bottom: solid rgba(0, 0, 0, 0.11);
    border-right: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custoMedio {
    position: absolute;
    top: 77.9%;
    left: 30%;
    height: 22.1%;
    width: 41.9%;
    /* background-color: rgba(12, 46, 240, 0.671); */
    background: #303030;
    border-right: solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frota {
    position: absolute;
    bottom: 0px;
    right: 0%;
    height: 46.1%;
    width: 28.1%;
    /* background-color: rgba(12, 46, 240, 0.671); */
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Elementos - Label */

.labelLine {
    border-left: 4px solid rgba(42, 247, 1, 0.774);
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    height: 45px;
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

.labelLine:hover {
    background-color: rgba(250, 250, 250, 0.493);
    cursor: pointer;
}

.labelBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-bottom: 4px solid rgba(42, 247, 1, 0.774);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelBlock:hover {
    background-color: rgba(250, 250, 250, 0.493);
    cursor: pointer;
}

.labelBlockTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-bottom: 4px solid rgba(42, 247, 1, 0.774);
    background-color: rgba(255, 255, 255, 0.11);
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelBlockTwo:hover {
    background-color: rgba(250, 250, 250, 0.493);
    cursor: pointer;
}

.labelBlockOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    width: 200px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}

.labelBlockOff:hover {
    background-color: rgba(250, 250, 250, 0.493);
    cursor: pointer;
}

/* Elementos - Text */

.blockText {
    padding-top: 5px;
    font-weight: bold;
    font-size: 30px;
}

.moneyText {
    margin-bottom: 12px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 30px;
    color: rgba(61, 245, 24, 0.966);
}

.title {
    position: relative;
    bottom: 10px;
    font-size: 24px;
    color: #fff;
}

.titleColumn {
    position: absolute;
    top: 10px;
    font-size: 24px;
    color: #fff;
}

::ng-deep .ngx-charts text { 
    fill: #fff!important; 
}