<div class="container">

    <div class="charts">
        <div class="chartSatisfacao" id="chartSatisfacao"></div>
        <div class="chartEntregas" id="chartEntregas"></div>
        <div class="chartPrazo" id="chartPrazo"></div>
    </div>
    <div class="titleLucro"></div>
    <div class="lucro">
        <div class="back">
            <label class="labelLucro">Lucro c/ Desconto
                <span class="textLucro">R$ 500</span>
            </label>
            <label class="labelLucroOff">Lucro Bruto
                <span class="textLucro">R$ 5000</span>
            </label>
        </div>
    </div>

    <div class="titleLucro">
        <label>Tempo Médio de Entregas</label>
    </div>
    <div class="tempoMedio">
        <div class="back">
            <label class="labelTempo">Tempo Entrega
                <p class="textKm">30m</p>
            </label>
            <label class="labelTempotwo">Tempo Rota
                <p class="textKm">5h</p>
            </label>
            <label class="labelTempoOff">Tempo
                <p class="textKm">200h</p>
            </label>
        </div>
    </div>

    <div class="titleLucro"></div>
    <div class="kmMedio">
        <div class="backTwo">
            <label class="labelLine">Km Diario
                <p class="textKm">30</p>
            </label>
            <label class="labelLineTwo">Km Semanal
                <p class="textKm">240</p>
            </label>
            <label class="labelLineOff">Km Mensal
                <p class="textKm">2500</p>
            </label>
        </div>
    </div>

    <div class="titleLucro"></div>
    <div class="custoMedio">
        <div class="backTwo">
            <label class="labelLine">Custo Diario
                <span class="textCusto">R$ 500</span>
            </label>
            <label class="labelLineTwo">Custo Semanal
                <span class="textCusto">R$ 5000</span>
            </label>
            <label class="labelLineOff">Custo Mensal
                <span class="textCusto">R$ 50000</span>
            </label>
        </div>
    </div>

    <div class="titleLucro"></div>
    <div class="frota">
        <div class="back">
            <label class="labelFrota">Disponivel
                <p class="textKm">90</p>
            </label>
            <label class="labelFrotatwo">Manutenção
                <p class="textKm">5</p>
            </label>
            <label class="labelFrotaOff">Indisponivel
                <p class="textKm">1</p>
            </label>
        </div>
    </div>
</div>