<div class="container">

    <div class="dash">
        <div class="chartSatisfacao"></div>
        <div class="chartEntregas"></div>
        <div class="chartPrazo"></div>
    </div>

    <div class="lucro">
        <label class="labelLucro">Custo Diario
            <span class="textLucro">R$ 500</span>
        </label>
        <label class="labelLucroOff">Custo Semanal
            <span class="textLucro">R$ 5000</span>
        </label>
    </div>

    <div class="tempoMedio">
        <label class="labelTempo">Tempo Entrega
            <p class="textKm">30m</p>
        </label>
        <label class="labelTempo">Tempo Rota
            <p class="textKm">5h</p>
        </label>
        <label class="labelTempoOff">Tempo
            <p class="textKm">200h</p>
        </label>
    </div>

    <div class="kmMedio">
        <label class="label">Km Diario
            <p class="textKm">30</p>
        </label>
        <label class="label2">Km Semanal
            <p class="textKm">240</p>
        </label>
        <label class="labeloff">Km Mensal
            <p class="textKm">2500</p>
        </label>
    </div>

    <div class="custoMedio">
        <label class="label">Custo Diario
            <span class="textCusto">R$ 500</span>
        </label>
        <label class="label2">Custo Semanal
            <span class="textCusto">R$ 5000</span>
        </label>
        <label class="labeloff">Custo Mensal
            <span class="textCusto">R$ 50000</span>
        </label>
    </div>

    <div class="frota">
        <label class="labelFrota">Disponivel
            <p class="textKm">90</p>
        </label>
        <label class="labelFrota">Manutenção
            <p class="textKm">5</p>
        </label>
        <label class="labelFrotaOff">Indisponivel
            <p class="textKm">1</p>
        </label>
    </div>
</div>